<!DOCTYPE html>
<html>
	<head>
		
		<style>
		</style>
	</head>
    <body>

		<video id="myVideo" width="640" height="480" controls>
			<source src="ISTANBUL.mp4" type="video/mp4">
	  	</video>

	  	<button onclick="myFunctionISTANBUL()">ISTANBUL</button>
		<button onclick="myFunctionPETRA()">PETRA</button>
		<button onclick="myFunctionGEORGIA()">GEORGIA</button>
		<button onclick="myFunctionNEW ORLEANS()">NEW ORLEANS</button>
		<button onclick="myFunctionKYOTO()">KYOTO</button>
		<button onclick="myFunctionMARRAKECH()">MARRAKECH</button>

	  	<script>

			function myFunctionISTANBUL() 
			{
				document.getElementById('myVideo').currentTime =0.1;
			}

	  </script>
    </body>
</html>